@font-face {
    font-family: 'graphik-regular';
    src: url('/fonts/Graphik-Regular.eot');
    src: url('/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-Regular.woff2') format('woff2'),
         url('/fonts/Graphik-Regular.woff') format('woff'),
         url('/fonts/Graphik-Regular.ttf') format('truetype'),
         url('/fonts/Graphik-Regular.svg#graphik-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphik-italic';
    src: url('/fonts/Graphik-RegularItalic.eot');
    src: url('/fonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-RegularItalic.woff2') format('woff2'),
         url('/fonts/Graphik-RegularItalic.woff') format('woff'),
         url('/fonts/Graphik-RegularItalic.ttf') format('truetype'),
         url('/fonts/Graphik-RegularItalic.svg#graphik-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphik-light';
    src: url('/fonts/Graphik-Light.eot');
    src: url('/fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-Light.woff2') format('woff2'),
         url('/fonts/Graphik-Light.woff') format('woff'),
         url('/fonts/Graphik-Light.ttf') format('truetype'),
         url('/fonts/Graphik-Light.svg#graphik-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphik-medium';
    src: url('/fonts/Graphik-Medium.eot');
    src: url('/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-Medium.woff2') format('woff2'),
         url('/fonts/Graphik-Medium.woff') format('woff'),
         url('/fonts/Graphik-Medium.ttf') format('truetype'),
         url('/fonts/Graphik-Medium.svg#graphik-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphik-semibold';
    src: url('/fonts/Graphik-Semibold.eot');
    src: url('/fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-Semibold.woff2') format('woff2'),
         url('/fonts/Graphik-Semibold.woff') format('woff'),
         url('/fonts/Graphik-Semibold.ttf') format('truetype'),
         url('/fonts/Graphik-Semibold.svg#graphik-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-heavy';
    src: url('/fonts/FuturaBT-Heavy.eot');
    src: url('/fonts/FuturaBT-Heavy.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaBT-Heavy.woff2') format('woff2'),
         url('/fonts/FuturaBT-Heavy.woff') format('woff'),
         url('/fonts/FuturaBT-Heavy.ttf') format('truetype'),
         url('/fonts/FuturaBT-Heavy.svg#futura-heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'graphik-regular', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #444444;
	margin: 0;
	letter-spacing: .1px;
}

a:link, a:visited, a:active {
	text-decoration: underline;
	color: #333;
}

a:hover {
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	z-index: 1;
	text-transform: lowercase;
	color: #ffffff;
	width: 100%;
	letter-spacing: 0px;
}

nav a:link, nav a:visited {
	font-family: 'futura-heavy';
	color: inherit;
	text-decoration: none;
}

nav a:hover {
	opacity: .7;
	-webkit-transition: color .3s;
	transition: color .3s;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

#nav-content {
	width: 100%;
	max-width: 1080px;
	padding: 0 20px;
	margin: 45px auto 0;
    	-webkit-box-sizing: border-box;
    	box-sizing: border-box;
}

#left-container {
	width: 50%;
	float: left;
	font-size: 25px;
	line-height: 30px;
}

#right-container {
	width: 50%;
	float: left;
	text-align: right;
	font-size: 17px;
	line-height: 20px;
	opacity: 0.6;
}

.proj-header {
	height: 90vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.proj-content {
	width: 100vw;
}

main a:hover {
	opacity: .7;
}

h1 {
	font-family: 'graphik-semibold';
	font-weight: normal;
	font-size: 38px;
	line-height: 46px;
	color: #333333;
	margin: 0;
}

h2 {
	font-family: 'graphik-semibold';
	font-weight: normal;
	font-size: 34px;
	line-height: 49px;
	color: #333333;
	margin: 0;
}

h3 {
	font-family: 'graphik-regular';
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	color: #666666;
	margin: 10px 0 40px;
}

h4 {
	font-family: 'graphik-semibold';
	font-weight: normal;
	font-size: 24px;
	line-height: 34px;
	color: #333333;
	margin: 0;
}

.text {
	width: 100%;
	max-width: 740px;
	padding: 0 20px;
	margin: 60px auto 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
}

.text p {
	margin: 20px 0 0;
}

.text b, b {
	font-family: 'graphik-semibold';
	font-weight: normal;
	color: #444444;
}

ol li {
	padding-left: 8px;
}

ul li {
	padding-left: 8px;
}

hr {
	background-color: #CCCCCC;
	height: 1px;
	max-width: 200px;
	width: 30%;
	border: 0;
	margin: 70px auto 70px;
}

q {
	font-family: 'graphik-italic';
	letter-spacing: 0px;
	display: block;
	font-size: 30px;
	line-height: 44px;
	color: #AAAAAA;
	margin: 40px 0;
	text-align: center;
}

.img-with-text {
	display: flex;
	align-items: center;
}

.img-with-text img {
	width: 75%;
	float: left;
	margin-left: -150px;
	margin-right: 30px;
}

.img-block {
	width: 100%;
	max-width: 980px;
	padding: 70px;
	margin: 70px auto 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: rgba(0,0,0,.7);
}

.img-block div img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 550px;
	margin: 0 auto;
	display: block;
}

.single-img img {
	width: 100%;
	height: 100%;
	display: block;
}

.two-col {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 40px 70px;
	align-items: end;
    justify-content: center;
}

.three-img {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 40px 30px;
    justify-content: center;
}

.four-img {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 40px 10px;
    justify-content: center;
}

.five-img {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 40px 10px;
    justify-content: center;
}

.caption {
	width: 100%;
	max-width: 740px;
	margin: 20px auto 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 14px;
	line-height: 26px;
	color: #999999;
	max-width: 980px;
	text-align: center;
}

.link-to-project {
	width: 100%;
	max-width: 740px;
	padding: 0 20px;
	margin: 60px auto 70px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.link-to-project a {
	font-family: 'graphik-semibold';
}

#back-to-projects {
	width: 100%;
	max-width: 740px;
	padding: 0 20px;
	margin: 60px auto 70px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#back-to-projects a {
	color: #999999;
	font-family: 'graphik-semibold';
}

footer {
	width: 100%;
	color: #ffffff;
	background-color: #191919;
	padding: 80px 0;
}

footer a:hover {
	opacity: .7;
}

#footer-content {
	width: 100%;
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #f5f5f5;
}

#footer-text {
	margin-right: 150px;
	padding-right: 90px;
}

#footer-text p {
	font-size: 18px;
	line-height: 32px;
}

#footer-text h1 {
	font-family: 'futura-heavy';
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;
	letter-spacing: 0px;
}

#footer-text a:link, #footer-text a:visited {
	color: inherit;
}

#footer-icons {
	float: right;
	width: 185px;
}

#footer-icons-after {
	display: none;
}

#footer-icons img, #footer-icons-after img {
	-webkit-filter: invert(1);
	filter: invert(1);
	opacity: 1;
}

.social-icons img {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 18px;
	opacity: .78;
}


#dialogText {
    color: #666;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}
#dialogText h1 {
    font-size: 24px;
    color: #333;
    line-height: 28px;
    font-family: 'graphik-semibold', sans-serif;
    font-weight: normal;
    margin: 10px 0;
}

#dialogWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: #FFFFFF;
}

#dialogWrapCell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#mainDialog {
    width: 600px;
    margin: 5px auto 125px auto;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
}
#mainDialog > * {
    padding: 30px 0px;
}
#passArea {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: white;
    border: 2px solid #333;
    width: 300px;
    margin: 0 auto;
}
#passArea > * {
    margin: 5px auto;
}
#pass {
    flex-grow:2;
    width: 100%;
    padding: 4px 0px 4px 12px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'graphik-regular', sans-serif;
    border: none;
    border-radius: 8px;
    color: #333;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


#pass::placeholder {
    color: #BBB;
}

#pass:focus {
    outline: none;
}

#messageWrapper {
    vertical-align: middle;
    line-height: 44px;
    font-size: 16px;
}

.notifyText {
    display: none;
}

#invalidPass {
    color: #DE0B0B;
}

.error {
    display: none;
    color: #DE0B0B;
}

#success {
    color: #158803;
}

#submitPass {
    width: 50px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 32px;
    font-family: 'graphik-regular', sans-serif;
    color: #CCC;
    cursor: pointer;
}

#submitPass:hover {
    color: #333;
    -webkit-transition: color .3s;
    transition: color .7s;
}

#submitPass svg {
    width: 20px;
    height: 20px;
}

#contentFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    color: #000;
    background-color: #FFFFFF;
}
#attribution a {
    font-family: 'graphik-medium';
    color: #000;
}
#attribution a:hover {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: .7;
}


@media only screen and (max-width: 1000px) {

	.img-with-text {
		display: block;
	}

	.img-with-text img {
		width: 100%;
		float: none;
		margin: 0 auto 30px auto;
		padding-left: 3%;
		display: block;
	}

	#footer-content {
		max-width: 740px;
		margin: 0 auto;
	}

}


@media only screen and (max-width: 768px) {

	h3 {
		margin-bottom: 30px;
	}

	.text {
		margin: 40px auto;
	}

	.img-block {
		width: 100%;
		padding: 50px 0;
		margin: 40px 0 0;
	}

	.img-block div {
		width: 100%;
		max-width: 740px;
		padding: 0 20px;
		margin: 0 auto;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    clear: both;
	}

	#left-container {
		display: block;
		float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	#right-container {
		display: none;
	}

	.two-col, .three-img, .four-img, .five-img {
		grid-template-columns: 1fr;
	}

	#back-to-projects {
		margin: 40px 0;
	}

	footer {
		padding: 40px 0;
	}

	#footer-icons {
		display: none;
	}

	#footer-icons-after {
		display: block;
		margin-top: 30px;
	}

	#footer-text {
		padding-right: 0;
		margin-right: 0;
	}

}
